{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static 'main/img/bg1.png' %}" alt="кот" width="40" height="40" class="me-2">
            CatDjango
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new' %}">Вторая</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new2' %}">Третья</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new3' %}">Четвёртая</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news_home' %}">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_news' %}">Добавить Новость</a>
                </li>
            </ul>
        </div>
    </div>
</nav>