{% extends 'main/layoute.html' %}

{% block title %}
    <title>Четвертая страничка Котянга</title>
{% endblock %}

{% block content%}
    <h4>Четвертая страница - Мудрость Котянга</h4>
    
    <h2>Котянг обучает молодых котов</h2>
    
    <p>Со временем Котянг стал знаменит на все соседние огороды.</p>
    
    <p>К нему начали приходить молодые коты, чтобы научиться искусству защиты.</p>
    
    <p>Котянг терпеливо учил их: как слушать землю, как определять направление тоннелей.</p>
    
    <p>Он показывал, как важно менять маршруты патрулирования и быть непредсказуемым.</p>
    
    <p>Под его руководством выросло целое поколение котов-защитников.</p>
    
    <p>Теперь каждый огород в округе имеет своего хранителя!</p>
    
    <h3>Котянг - не только герой, но и мудрый учитель!</h3>
{% endblock %}